@import 'body';

$color: #ff0000;
$baseFontSize: 36px;

@font-face {
  font-family: 'rec';
  src: url('../static/SpectralSC-Bold.ttf') format('truetype');
}

body {
  border: 12px solid $color;
  font-size: $baseFontSize;
  font-family: 'rec'
}
